body {
	min-height: 100vh;
	background-color: blanchedalmond;
}

.header,
.footer {
	background-color: rgb(190, 0, 79);
}

.header *,
.footer * {
	color: beige;
}

.header a:hover,
.footer a:hover {
	color: white;
}

.header *,
.footer * {
	font-size: 1rem;
}

.footer {
	min-height: 50px;
}

/* Стили по умолчанию */
main,
section {
	margin-top: 1rem !important;
}
